<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.beautifulai.androidcandidateprobe"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-sdk android:minSdkVersion="34" android:targetSdkVersion="35" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="false"
        android:debuggable="true"
        android:hasCode="true"
        android:label="Android Candidate Probe" />
    <instrumentation
        android:name=".ProbeInstrumentation"
        android:targetPackage="dev.beautifulai.androidcandidateprobe"
        android:functionalTest="true"
        android:handleProfiling="false" />
</manifest>
